@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tiro+Gurmukhi:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Gurmukhi', serif;
}

/* general */
#encabezado {
    background-color: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px;
    height: 265px;
}
#encabezado .encabezado__logo {
    display: flex;
    align-items: flex-end;
    background-color: wheat;
    background-image: url(../img/logotrip.png);/* imagen generica */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 240px;
}
.encabezado__logo .logo__texto1 {
    color: orangered;
    display: none;
    text-align: justify;
    margin: 20px;
    font-family: 'Lobster', cursive;
}
.encabezado__logo .logo__texto2 {
    color: #943712;
    text-align: center;
    margin: 10px;
    padding-top: 130px;
    font-variant: small-caps;
}
.encabezado__menu {
    display: inline-block;
}
.encabezado__menu .menu {
    display: flex;
    list-style: none;
}
.encabezado__menu li a {
    text-decoration: none;
    color: whitesmoke;
    background-color: olivedrab;
    margin: 0 15px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.encabezado__menu li a:hover {
    background-color: orangered;
    
}
.encabezado__menu ul input[type=checkbox] {
    display: none;
} 

.encabezado__menu .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
#pieDePagina {
    background-color: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 75px;
}
#pieDePagina a {
    margin-left: 50px;
    font-size: medium;
    color: olivedrab;
    transition: 0.3s ease;
}
#pieDePagina a:hover {
    color: orangered;
}

/* secciones */
#intro {
    background-color: wheat;
    background-image: url(../img/frontimage2.jfif);/* imagen generica */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 650px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
#intro .intro__info {
    position: relative;
}
#intro .intro__info h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 150px;
}
#catalogo {
    background-color: blanchedalmond;
    padding: 3%;
}
#catalogo h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 3em;
    font-style: italic;
}
#catalogo h2 a {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 1em;
    font-style: italic;
    transition: 0.3s ease;
}
#catalogo h2 a:hover {
    color: olivedrab;
}
#catalogo h3 {
    font-family: 'Lobster', cursive;
    color: olivedrab;
    font-size: 1.7em;
    font-style: normal;
    padding: 0.8em;
}
.catalogo__grid {
    background-color: blanchedalmond;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.catalogo__grid .grid__item {
    margin: 1.5em;
}
.catalogo__grid .grid__item img {
    width: 300px;
    height: auto;
    transition: all 1s;
}
.catalogo__grid .grid__item img:hover {
    transform: scale(200%) translate(2em);
}
.catalogo__grid .grid__item .item__desc {
    margin: 0.2em;
    padding: 0.8em 2.3em 0.2em 1em;
}
.catalogo__grid .grid__item .item__desc dt {
    font-weight: bold;
    font-size: large;
}
.catalogo__grid .grid__item .item__desc dd {
    padding-top: 0.8em;
    text-align: justify;
    font-size: medium;
}
.boton {
    text-decoration: none;
    font-size: 0.9em;
    color: whitesmoke;
    background-color: olivedrab;
    margin: 0 0.3em;
    padding: 0.3em;
    border-radius: 5px;
    border: #943712;
    transition: 0.3s ease;
}
.boton:hover {
    background-color: orangered;
}

#contactoDirecto {
    background-color: #943712;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
    height: 150px;
}
.contactoDirecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em;
    padding: 0 50px;
}
.contactoDirecto h3 {
    text-align: center;
    padding: 5px 50px;
}
.contactoDirecto p {
    text-align: justify;
    padding: 5px;
}
#whoAmI {
    background-color: blanchedalmond;
}
.whoAmI h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 3%;
}
.whoAmI__desc {
    padding: 2% 5%;
}
.whoAmI__desc h3 {
    font-family: 'Lobster', cursive;
    color: olivedrab;
    font-size: 20px;
    font-style: normal;
    padding: 0 0 3% 0;
    text-align: center;
}
.whoAmI__desc p {
    padding: 0 15% 3% 15%;
}
#blog {
    background-color: blanchedalmond;
}
.blog {
    padding: 1% 2%;
}
.blog h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 3%;
}
.blog__desc {
    padding-bottom: 5%;
}
.blog__desc h3 {
    font-family: 'Lobster', cursive;
    color: olivedrab;
    font-size: 2em;
    font-style: normal;
    padding: 1.5%;
    text-align: left;
}
.blog__desc h4 {
    color: orangered;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5%;
}
.blog__desc ul {
    padding: 0.5% 0 0.5% 2%;
    text-decoration: none;
}
.blog__desc li {
    padding: 0.5%;
}
.blog__desc p {
    color: black;
    font-size: 0.9em;
    padding: 0.5%;
}
.blog__desc li iframe {
    padding: 2%;
}
#form {
    background-color: blanchedalmond;
}
.form {
    padding: 0 8%;
}
.form h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 3%;
}
.form form {
    padding: 3%
}
.form form div {
    padding-bottom: 2%;
    font-size: 1.3em;
}
.form .form__text input {
    width: 20em;
    height: 2em;
    transition: all 0.5s;
}
.form .form__text input:focus {
    width: 75%;
    height: 3.5em;
    font-size: 1.1em;
    border-color: #943712;
}
.form input {
    margin-left: 1.5em;
}
.form div ul {
    list-style: none;
}
.form #caja {
    transition: all 0.5s;
}
.form #caja:focus {
    width: 75%;
    height: auto;
    font-size: 1.1em;
}

/* media */
@media (max-width: 1060px) {
    #encabezado {
        flex-flow: column;
    }
    .encabezado__search {
        display: none;
    }
}
@media (max-width: 1370px) {
    .grid__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .item__desc {
        text-align: center;
    }
}
@media (min-width: 1371px) {
    .grid__item {
        grid-gap: 1em;
        grid-column: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
@media (max-width: 768px) {
    .encabezado__menu .menu { 
        display:none;
        position: absolute;
        background-color: olivedrab;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .encabezado__menu .menu li a {
        padding: 0;
    }
    .encabezado__menu .menu li a:hover {
        display: inline-block;
        background-color: olivedrab;
        color: orangered;
        transition: 0.3s ease;
    }
    .encabezado__menu .menu li + li {
        margin-top: 2.7em;
    }
    .encabezado__menu input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .encabezado__menu .hamburger {
        display: block;
    }
    #contactoDirecto {
        flex-flow: column;
        height: auto;
    }
    #intro {
        min-height: 370px;
    }
    .intro__info {
        display: none;
    }
    #catalogo {
        text-align: center;
    }
    .catalogo__grid {
        grid-template-columns: 1fr;
    }
    .catalogo__grid .grid__item img:hover {
        transform: scale(200%) translate(0);
    }
}


