@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tiro+Gurmukhi:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Gurmukhi', serif;
}

/* general */
#encabezado {
    background-color: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px;
    height: 265px;
}
#encabezado .encabezado__logo {
    display: flex;
    align-items: flex-end;
    background-color: wheat;
    background-image: url(../img/logotrip.png);/* imagen generica */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 240px;
}
.encabezado__logo .logo__texto1 {
    color: orangered;
    display: none;
    text-align: justify;
    margin: 20px;
    font-family: 'Lobster', cursive;
}
.encabezado__logo .logo__texto2 {
    color: #cf962a;
    text-align: center;
    margin: 10px;
    padding-top: 130px;
    font-variant: small-caps;
}
.encabezado__menu {
    display: inline-block;
}
.encabezado__menu .menu {
    display: flex;
    list-style: none;
}
.encabezado__menu li a {
    text-decoration: none;
    color: whitesmoke;
    background-color: olivedrab;
    margin: 0 15px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.encabezado__menu li a:hover {
    background-color: orangered;
    
}
.encabezado__menu ul input[type=checkbox] {
    display: none;
} 

.encabezado__menu .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
#pieDePagina {
    background-color: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3rem;
    height: 75px;
}
#pieDePagina a {
    margin-left: 50px;
    font-size: medium;
    color: olivedrab;
    transition: 0.3s ease;
}
#pieDePagina a:hover {
    color: orangered;
}
.boton {
    text-decoration: none;
    font-size: 0.9em;
    color: whitesmoke;
    background-color: olivedrab;
    margin: 0 0.3em;
    padding: 0.3em;
    border-radius: 5px;
    border: #943712;
    transition: 0.3s ease;
}
.boton:hover {
    background-color: orangered;
}
.bgLight {
    background-color: blanchedalmond;
}
.bgMed {
    background-color: wheat;
}
.bgDark {
    background-color: #943712;
}

/* secciones */
#intro {
    background-color: wheat;
    background-image: url(../img/frontimage2.jfif);/* imagen generica */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 650px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
#intro .intro__info {
    position: relative;
}
#intro .intro__info h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 150px;
}
#catalogo {
    background-color: blanchedalmond;
}
#catalogo h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 3em;
    font-style: italic;
    padding-top: 5rem;
    text-align: center;
}
#catalogo h2 a {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 1em;
    font-style: italic;
    transition: 0.3s ease;
}
#catalogo h2 a:hover {
    color: olivedrab;
}
#catalogo h3 {
    font-family: 'Lobster', cursive;
    color: olivedrab;
    font-size: 1.7em;
    font-style: normal;
    text-align: center;
    padding: 2rem;
}


#barraDeContactos {
    background-color: #943712;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5em;
    height: auto;
}
.barraDeContactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    padding: 0 1.5em;
}
.barraDeContactos h3 {
    text-align: center;
    padding: 0.1em 1em;
    font-size: 1.8em;
}
.barraDeContactos p {
    text-align: justify;
    padding: 0.1em 0.3em;
    font-size: 1em;
}
.redesSociales {
    padding: 3em;
}
.Institucional {
    background-color: blanchedalmond;
}
.Institucional h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 3%;
}
.Institucional__desc {
    padding: 2% 5%;
}
.Institucional__desc h3 {
    font-family: 'Lobster', cursive;
    color: olivedrab;
    font-size: 20px;
    font-style: normal;
    padding: 0 0 3% 0;
    text-align: center;
}
.Institucional__desc p {
    padding: 0 15% 3% 15%;
}

.blog {
    background-color: blanchedalmond;
    padding: 1% 2%;
}
.blog h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 3%;
}
.blog__desc {
    padding-bottom: 5%;
}
.blog__desc h3 {
    font-family: 'Lobster', cursive;
    color: olivedrab;
    font-size: 2em;
    font-style: normal;
    padding: 1.5%;
    text-align: left;
}
.blog__desc h5 {
    color: orangered;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5%; 
}
.blog__desc a {
    text-decoration: none;
    font-size: medium;
    color: wheat;
    transition: 0.3s ease;
}
.blog__desc a:hover {
    color: olivedrab;
    background-color: wheat;
}
.blog__desc .accordion-button {
    font-size: inherit;
    background-color: wheat;
    color: orangered;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.5%;
}
.blog__desc .accordion-button:not(.collapsed) {
    color: inherit;
    background: olivedrab;
    color: wheat;
}
.blog__desc .accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(80%); 
}
.blog__desc .accordion-button:focus {
    box-shadow: inherit;
}

.blog__desc ul {
    padding: 0.5% 0 0.5% 2%;
    text-decoration: none;
}
.blog__desc li {
    padding: 0.5%;
}
.blog__desc li iframe {
    padding: 2%;
}
#form {
    background-color: blanchedalmond;
}
#form h2 {
    font-family: 'Lobster', cursive;
    color: orangered;
    font-size: calc(2rem + 1.2vw);
    font-style: italic;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 3rem;
}

#form .caja {
    transition: all 0.5s;
}
#form .caja:focus {
    transform: scale(150%) translateY(1rem);
}

/* media */
@media (max-width: 1060px) {
    #encabezado {
        flex-flow: column;
    }
    .encabezado__search {
        display: none;
    }
}

@media (max-width: 768px) {
    #encabezado {
        flex-flow: row-reverse;
    }
    .encabezado__menu .menu { 
        display:none;
        position: absolute;
        background-color: olivedrab;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .encabezado__menu .menu li a {
        padding: 0;
    }
    .encabezado__menu .menu li a:hover {
        display: inline-block;
        background-color: olivedrab;
        color: orangered;
        transition: 0.3s ease;
    }
    .encabezado__menu .menu li + li {
        margin-top: 2.7em;
    }
    .encabezado__menu input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .encabezado__menu .hamburger {
        display: block;
    }
    #barraDeContactos {
        flex-flow: column;
        height: auto;
    }
    #intro {
        min-height: 370px;
    }
    .intro__info {
        display: none;
    }
    #form span {
        display: none;
    }
    
}


