//Comunidad
.blog {
    padding: 1% 2%;
    &__desc {
        padding-bottom: 5%;
        h3 {
            font-family: $font-title;
            color: $titlesec;
            font-size: 2em;
            font-style: normal;
            padding: 1.5%;
            text-align: left;
        }
        h5 {
            color: $titleprim;
            font-weight: bold;
            font-size: 1.2rem;
            padding: 0.5%; 
        }
        & a {
            text-decoration: none;
            font-size: medium;
            color: $bgMed;
            transition: 0.3s ease;
            &:hover {
                color: $titlesec;
                background-color: $bgMed;
            }
        }
        .accordion-button {
            font-size: inherit;
            background-color: $bgMed;
            color: $titleprim;
            font-weight: bold;
            font-size: 1.1rem;
            padding: 0.5%;
            &:not(.collapsed) {
                color: inherit;
                background: $titlesec;
                color: $bgMed;
            }
            &:not(.collapsed)::after {
                filter: brightness(0%) invert(80%); 
            }
            &:focus {
                box-shadow: inherit;
            }
        }
    }
    h2 {
        @include headding;
        display: block;
        justify-content: center;
        padding: 3%;
    }
}