//catalogo
.catalogo {
    h2 {
        @include headding;
        padding-top: 5rem;
        a { 
            @include headding; 
            padding-top: 5rem;          
            font-size: 1em;
            transition: 0.3s ease;
            &:hover {
                color: $titlesec;
            }
        }
    }
    h3 {
        font-family: $font-title;
        color: $titlesec;
        font-size: 1.7em;
        font-style: normal;
        text-align: center;
        padding: 2rem;
    }
}


