
#form {
    background-color: $bgLight;
    & h2 {
        @include headding;
        display: block;
        justify-content: center;
        padding: 5rem;
    }
    .caja {
        transition: all 0.5s;
        &:focus {
            transform: scale(150%) translateY(1rem);
        }
    }
}



