//clases de uso variado
.boton {
    @include btn;
    margin: 0 0.3em;
    padding: 0.3em;
    font-size: 0.9em;
    &:hover {
        background-color: $titleprim;
    }
}

$bgColors:(
    Light: map-get($PaletaDeColores, base1),
    Med: map-get($PaletaDeColores, base2),
    Dark: map-get($PaletaDeColores, fondo)
);

@each $name, $value in $bgColors {
    .bg#{$name} {
        background-color: $value;
    }
}